// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;





// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
$custom-colors: (
  "farve": $orange,
);

$theme-colors: (
  primary:$orange,
  secondary:$dark,
  danger:$danger,
  success:$success,
  "blå":$primary,
);




$nav-link-color: #{$orange};
$nav-pills-link-active-color: #{$white};
$nav-pills-link-active-bg: #{$orange};
$nav-link-hover-color: #{$dark};
$position-values: (
  0: 0,
  10: 10%,
  20: 20%,
  30: 30%,
  40: 40%,
  50: 50%,
  100: 100%
);


$navbar-dark-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$orange}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
$navbar-dark-toggler-border-color: #{$orange};
$card-height: 100%;




$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

// 5. Du kan lave styling her...

.btn-primary{
  color: white !important;
}

.landingphoto {
  opacity: 0.3;
  z-index: -1;
  position: absolute;

}

.rejseagent {
  order: 1;
}

.fly {
  order: 2;
}

.brand {
  order: 4;

}

.hoteller {
  order: 3;

}

.afbudsrejser {
  order: 5;
}

.profil {
  order: 7;
}

.aktiviteter {
  order: 6;
}

body {
  background-color: rgb(255, 255, 255);
}

#søgebar {
  background-color: $orange;
}





.planlagt-rejse{
  display: grid;
  grid-template-columns: 11fr 1fr;
}

#footer{
  background-color: $orange;
  display: grid;
  grid-template-columns: 1fr;
  
}
@include media-breakpoint-up(md) {
  #footer {
    grid-template-columns: 4fr 4fr 4fr;
  }
}
.space{
  height: 425px;
}

.row1{
  display: grid;
  grid-template-columns: 1fr;
  padding: 10px;
  
}
.row1 a{
  text-decoration: none;
  color: whitesmoke;
  padding: 5px;
}

#kurv{
  display: inline;
}
@include media-breakpoint-up(md){
  #kurv{
    display: none;
  }
}

#taske{
  display: none;
}

@include media-breakpoint-up(md){
  #taske{
    display: inline;
  }
}