// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
$custom-colors: (
	"farve": $cyan-400,
);

$position-values: (
  0: 0,
  10: 10%,
  20: 20%,
  30: 30%,
  40: 40%,
  50: 50%,
  100: 100%
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

// 5. Du kan lave styling her...


.landingphoto{
	opacity:0.4;
	z-index: -1;
	position: absolute;

}

.rejseagent{
  order: 1;
}

.fly{
  order: 2;
}

.brand{
  order: 4;
  
}

.hoteller{
  order:3;

}

.afbudsrejser{
  order: 5;
}

.profil{
  order: 6;
}

.aktiviteter{
  order: 7;
}



