// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;





// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
$custom-colors: (
  "farve": $orange,
);

$theme-colors: (
  primary:$orange,
  secondary:$dark,
);




$nav-link-color: #{$orange};
$nav-pills-link-active-color: #{$white};
$nav-pills-link-active-bg: #{$orange};
$nav-link-hover-color: #{$dark};
$position-values: (
  0: 0,
  10: 10%,
  20: 20%,
  30: 30%,
  40: 40%,
  50: 50%,
  100: 100%
);


$navbar-dark-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$orange}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
$navbar-dark-toggler-border-color: #{$orange};
$card-height: 100%;




$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

// 5. Du kan lave styling her...

.btn-primary{
  color: white !important;
}

.landingphoto {
  opacity: 0.3;
  z-index: -1;
  position: absolute;

}

#søgebar {
  background-color: $orange;
}


body {
  background-color: rgb(255, 255, 255);
}



.planlagt-rejse{
  display: grid;
  grid-template-columns: 11fr 1fr;
}

#footer{
  background-color: $orange;
  display: grid;
  grid-template-columns: 1fr;
  
  
}
@include media-breakpoint-up(md) {
  #footer {
    grid-template-columns: 4fr 4fr 4fr;
  }
}
.space{
  height: 425px;
}

.row1{
  display: grid;
  grid-template-columns: 1fr;
  padding: 10px;
  
}
.row1 a{
  text-decoration: none;
  color: whitesmoke;
  padding: 5px;
}

#kurv{
  display: inline;
}
@include media-breakpoint-up(md){
  #kurv{
    display: none;
  }
}

#taske{
  display: none;
}

@include media-breakpoint-up(md){
  #taske{
    display: inline;
  }
}

.loginphoto{
  width: 100%;
  z-index: -1;
  position: absolute;
  opacity: 0.3;
  height: 1200px;
}

/*-------house-details page------------------*/
.house-details{
  padding: 0 12%;
}
.house-title{
  margin-top: 50px;
}
.house-title h1{
  font-weight: 600;
}
.house-title .row1{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 10px 0;
}
.house-title span{
  margin: 0 20px;
}
.gallery{
  display: grid;
  grid-gap: 10px;
  grid-template-areas: 'first first . .' 'first first . .';
  margin: 20px 0;

}
.gallery div img{
  width: 100%;
  display: block;
  border-radius: 10px;
}
.gallery-img-1{
  grid-area: first;
}
.small-details h2{
  font-weight: 500;
}
.small-details h4{
  text-align: right;
  font-size: 22px;
}
.line{
  border: 0;
  height: 1px;
  background-color: #d4d4d2;
  width: 100%;
  max-width: 800px;
  margin: 20px 0 50px;
}
.check-form{
  margin: 30px 0;
  background: #fff;
  box-shadow: 0 0 30px rgba(0,0,0,0.3);
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px 50px;
}
.check-form label{
 display: block; 
}
.check-form div{
  padding: 20px;
}
.check-form input{
  background: transparent;
  border: 0;
  outline: none;
}
.check-form button{
  background: #ee6f1b;
  border: 0;
  outline: none;
  color: #fff;
  padding: 18px;
  width: 350px;
  border-radius: 8;
  font-size: 16px;
}

.guest-field{
  flex: 1;
}
.details-list{
  list-style: none;
  margin: 50px 0;
}
.details-list li{
  margin-left: 50px;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #555;
}
.details-list li span{
  display: block;
  font-weight: 400;
  font-style: 16px;
}
.home-desc{
  max-width: 700px;
  margin-bottom: 50px;
}
.map{
  margin: 50 0;
}
.map iframe{
  width: 100%;
  margin-bottom: 30px;
}
.map h3{
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 30px;
}
.map b{
  display: block;
  margin-bottom: 16px;
}
.host{
  display: flex;
  align-items: center;
}
.host img{
  width: 80px;
  border-radius: 50%;
  margin-right: 30px;
}
.host h2{
  margin-bottom: 10px;
  font-weight: 500;
}